.selections {
  display: flex;
}

.search-simulator-label {
  margin-right: 12px;
}

.search-simulator {
  width: 100px;
}

.selection-label {
  margin-left: 24px;
  margin-right: 12px;
}

.numeric-input {
  width: 50px;
}

.page-button {
  margin-left: 12px;
}

.sort-field-label {
  margin-left: 24px;
  margin-right: 12px;
}

.sort-order-label {
  margin-left: 24px;
  margin-right: 12px;
}

.search-button {
  margin-left: 24px;
}

.products-list {
  margin-top: 40px;
}

.header {
  padding-bottom: 20px;
}

table {
  table-layout: fixed;
  width: 90%;
  border: 1px dotted black;
}

th, td {
  padding: 20px;
}

thead th:nth-child(1) {
  width: 25%;
}

thead th:nth-child(2) {
  width: 10%;
}

thead th:nth-child(3) {
  width: 5%;
}

thead th:nth-child(4) {
  width: 60%;
}
