<div *ngIf="canShowSelections" class="selections">
  <label class="search-simulator-label">Simulator</label>
  <select
    autofocus
    class="search-simulator"
    [(ngModel)]="simulator"
    (change)="onSearch()"
    (keyup.enter)="onSearch()"
  >
    <option></option>
    <option *ngFor="let sim of settings?.simulators">
      {{ sim }}
    </option>
  </select>

  <label class="sort-field-label">Sort</label>
  <select 
    class="sort-field" 
    [(ngModel)]="sortField">
    <option 
      *ngFor="let sortField of settings?.sortableFields"
      [ngValue]="sortField.field"
    >
      {{sortField.display}}
    </option>
  </select>

  <select class="sort-order" [(ngModel)]="sortOrder">
    <option value="Asc">Asc</option>
    <option value="Desc">Desc</option>
  </select>

  <label class="page-label">Page</label>
  <button class="page-button" [disabled]="canDisableFirstPage" (click)="onFirstPage()">First</button>
  <button class="page-button" [disabled]="canDisablePrevPage" (click)="onPrevPage()">Prev</button>
  <button class="page-button" (click)="onNextPage()">Next</button>

  <label class="selection-label">Number</label>
  <label>{{pageNumber}}</label>  

  <label class="selection-label">Size</label>
  <input class="numeric-input" type="number" min="0" max="50" [(ngModel)]="take" (ngModelChange)="onChangePageSize()" />

  <label class="selection-label">Skip</label>
  <input class="numeric-input" type="number" min="0" [(ngModel)]="skip" />

  <button class="search-button" [disabled]="canDisableSearch" (click)="onSearch()">Search</button>
</div>

<table class="products-list">
  <tr class="header">
    <th class="product-name">Product Name</th>
    <th class="airport">Airport</th>
    <th class="icao">ICAO</th>
    <th class="platform">Platform</th>
    <th class="current-price">Current Price</th>
    <th class="simulators">Simulators</th>
  </tr>

  <tr *ngFor="let product of products" class="row">
    <td class="product-name">
      <a href="{{ product.link }}" target="_blank">
        {{ product.name }}
      </a>
    </td>
    <td class="airport">
      <a href="{{ product.link }}" target="_blank">
        {{ product.airport }}
      </a>
    </td>
    <td class="icao">
      {{ product.icao }}
    </td>
    <td class="platform">
      {{ product.platform }}
    </td>
    <td class="current-price">
      {{ product.currentPrice | currency }}
    </td>
    <td class="simulators">
      {{ product.simulators | csvSpacer }}
    </td>
  </tr>
</table>
